.logo{
	max-width: 50px;
}

.contact-paragraph{
	max-width: 50%;
	margin-right: 2.5%;
}

.contact-info{
	max-width: 50%;
	margin-left: 10%;
}

.contact-info span{
	margin-right: 10px;
}

.new-post-textarea{
	font-size: 18px;
	font-family: 'Courier';
	resize: none;
}