extends layout
block content
	h1 Contact Page 
	.pull-left.contact-paragraph
		h3 Who Am I?
		p.lead
			|Hey there. My name is Damien Cosset. I am an aspiring web developper. I am passionnate 
			|about building websites and applications to make my life and other people's lives better.
			|Outside of trying to build stuff, I enjoy Football, video games, yoga and reading.
			|Feel Free to contact me for whatever you want !

	.pull-left.contact-info
		h3 Contact Info
		ul.list-group
			li.list-group-item
				span.glyphicon.glyphicon-retweet(aria-hidden="true") 			
				a(href="http://www.twitter.com/DamCosset" target="_blank") Twitter
			li.list-group-item
				span.glyphicon.glyphicon-send(aria-hidden="true") 
				a(href="mailto:dcosset@hotmail.fr") Email
			li.list-group-item
				span.glyphicon.glyphicon-user(aria-hidden="true") 
				a(href="http://www.linkedin/DamienCosset") LinkedIn
			li.list-group-item
				span.glyphicon.glyphicon-cloud(aria-hidden="true") 
				a(href="http://www.github.com/Tagada85") GitHub